@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

$primaryBackgroundColor : rgb(189, 134, 134);
$primaryHeaderColor: rgb(128, 77, 77);
$primaryButtonBackgroundColor: rgb(118, 118, 209);
$hoverButtonBackgroundColor: rgb(171, 171, 242);
$primaryButtonBorderColor: rgb(88, 88, 209);
$primaryButtonShadowColor: rgb(72, 72, 155);
$numberContainerBackground: rgb(199, 95, 95);
$primaryFont : 'Mouse Memoirs', sans-serif;
$primaryImageBackground: rgb(223, 78, 78);
$quizContainerBorderColor: rgb(78, 26, 26);
$questionContainerBackground: rgb(147, 55, 55);
$answerContainerBackground: rgb(90, 28, 28);
$scoreContainerBackground: rgb(51, 19, 19);
$scoreFontColor: white;

* {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $primaryBackgroundColor;
};


.quizCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    .quizContainer {
        border: 2px solid $quizContainerBorderColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        border-radius: 15px;
        box-shadow: 2px 2px rgb(57, 21, 21);


        .numberContainer {
            background: $numberContainerBackground;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .questionContainer {
            background: $questionContainerBackground;
            width: 100%;
            padding-top:10px;
            padding-bottom: 10px;
            #questionDisplay {
                text-align: center;
                font-size: 1.2rem;
            }
        }

        .buttonContainer {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $quizContainerBorderColor;
            width: 100%;
            justify-content: center;
            align-items: center; 
            background: $answerContainerBackground;
        
            .buttonRowOne, .buttonRowTwo {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
        
                #correctAnswerBG {
                    background: green;
                }
        
                #incorrectAnswerBG {
                    background: red;
                }
        
                .button {
                    padding: 5%;
                    padding-left: 10%;
                    padding-right: 10%;
                    margin-right: 5%;
                    margin-left: 5%;
                    border-radius: 10px;
                    background: $primaryButtonBackgroundColor;
                    border: 2px solid $primaryButtonBorderColor;
                    box-shadow: 3px 3px $primaryButtonShadowColor;
                    font-size: 1.1rem;
                    color: rgb(17, 17, 17);
                    
                }
        
                .button:hover {
                    background: $hoverButtonBackgroundColor;
                }
            }
        }
        .scoreContainer {
            display: flex;
            justify-content: space-evenly;
            border-top: 2px solid $quizContainerBorderColor;
            width: 100%;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            background: $scoreContainerBackground;

            .livesRemaining, .scoreTally {
                p {
                    color: $scoreFontColor;
                }
            }
        }

        .imageContainer {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            background: $primaryImageBackground;

            img {
                display:block;
                height: 90%;
                width: 95%;
                border-radius: 15px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
        
        
    }
 

   
}


.start {
    padding: 20px;
    font-size: 3rem;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    background: rgb(97, 109, 214);
    border: 2px solid rgb(29, 72, 131);
    box-shadow: 3px 3px rgb(24, 47, 112);
    color: white;
}

.start:hover {
    background:rgb(127, 138, 236);
}





header {
    display: flex;
    justify-content: center;
    background: $primaryHeaderColor;
    padding-top: 5px;
    padding-bottom: 5px;

    #resetButton {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid rgb(98, 34, 34);
        background: rgb(161, 56, 56);
        border-radius: 10px;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        box-shadow:3px 3px rgb(51, 19, 19);
    }
    #resetButton:hover {
        background:rgb(192, 103, 103);
    }
}



#lossContainer {
    display: flex;
    flex-direction: column;
    background: rgb(205, 76, 76);
    border: 2px solid rgb(130, 42, 42);
    box-shadow: 4px 3px rgb(66, 25, 25);
    padding: 5px;
    border-radius: 10px;
    h3 , h4 {
        font-size:2rem;
        text-align: center;
        color: White;
    }
}

#victoryContainer {
        display: flex;
        flex-direction: column;
        background: rgb(205, 76, 76);
        border: 2px solid rgb(130, 42, 42);
        box-shadow: 4px 3px rgb(66, 25, 25);
        padding: 5px;
        border-radius: 10px;
        #winText,h3 {
            font-size:2rem;
            text-align: center;
            color: White;
        }
}
