body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
};


.quizCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}