
$primaryBackgroundColor : rgb(189, 134, 134);
$primaryHeaderColor: rgb(128, 77, 77);
$primaryButtonBackgroundColor: rgb(118, 118, 209);
$hoverButtonBackgroundColor: rgb(0, 0, 45);

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $primaryBackgroundColor;
};


.quizCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 100%;
}

.quizContainer {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.scoreContainer {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    width: 100%;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 100%;
    justify-content: center;
    align-items: center; 

    .buttonRowOne, .buttonRowTwo {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        #correctAnswerBG {
            background: green;
        }

        #incorrectAnswerBG {
            background: red;
        }

        .button {
            padding: 5%;
            padding-left: 10%;
            padding-right: 10%;
            margin-right: 5%;
            margin-left: 5%;
            border-radius: 10px;
            background: $primaryButtonBackgroundColor;
            
        }

        // .button:hover {
        //     background: $hoverButtonBackgroundColor;
        // }
    }
}

header {
    display: flex;
    justify-content: center;
    background: $primaryHeaderColor;

    button {
        border: 2px solid black;
    }
}

.imageContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

img {
    display:block;
    height: 100%;
    width: 100%;
}



.incorrectAnswerBG {
    background: red;
}

